<!doctype html>
<html lang="en" data-theme="twilight">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anyterial schemas</title>
  __ANYTERIAL_HTML_HEADER__
</head>
<body>
  __ANYTERIAL_HTML_TOP__
  <main>
    <h1>Anyterial schemas</h1>
    <p>Here the Anyterial schemas are hosted.</p>
    <p>To browse all definitions, go to <a href="https://schemas.anyterial.se/v1.0">https://schemas.anyterial.se/v1.0</a>.</p>
  </main>
</body>
</html>
