<!doctype html>
<html lang="en" data-theme="twilight">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anyterial schemas</title>
  __ANYTERIAL_HTML_HEADER__
</head>
<body>
  __ANYTERIAL_HTML_TOP__
  <main>
    <h1>Anyterial schemas</h1>
    <p>This website hosts the Anyterial schemas.</p>
    <ul>
      <li>To browse all Anyterial OPTIMADE definitions, go to <a href="https://schemas.anyterial.se/defs/">https://schemas.anyterial.se/defs/</a>.</li>
      <li>Current Anyterial JSON-LD context: <a href="https://schemas.anyterial.se/json-ld/v0.1/anyterial.json">https://schemas.anyterial.se/son-ld/v0.1/anyterial.json</a>.</li>
      <li>Current Anyterial JSON-schema:
	<ul>
	  <li> <a href="https://schemas.anyterial.se/json-schema/v0.1/spacegroups.json">https://schemas.anyterial.se/json-schema/v0.1/spacegroups.json</a>.</li>
	  <li> <a href="https://schemas.anyterial.se/json-schema/v0.1/pointgroups.json">https://schemas.anyterial.se/json-schema/v0.1/pointgroups.json</a>.</li>
	</ul>
    </ul>
  </main>
</body>
</html>
